﻿@model List<Capstone.Web.Models.Park>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="title">Our National Park System</h2>


<p class="infoParagraph">A national park is a park in use for conservation purposes. Often it is a reserve of natural, semi-natural, or developed land that a sovereign state declares or owns. Although individual nations designate their own national parks differently, there is a common idea: the conservation of 'wild nature' for posterity and as a symbol of national pride. National parks are almost always open to visitors. Most national parks provide outdoor recreation and camping opportunities as well as classes designed to educate the public on the importance of conservation and the natural wonders of the land in which the national park is located.</p>

@foreach(var park in Model)
{ 
<div class="divColumns">
    <a href="@Url.Action("Detail", "Parks", new { id = park.ParkCode})"><img src="~/Content/img/parks/@park.ImageFile" alt=@park.ParkName /></a>
        <h3>@park.ParkName</h3>
        <h4>@park.State</h4>
</div>
}