﻿#backgroundImage {
  position: fixed; 
  top: 0; 
  left: 0; 
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.transparent {    
    margin-left: 200px;
}

section {
    color: #663300;
    font-family: sans-serif;
    opacity: 1;
}


header img{
    width:500px;
    margin-left: 225px;

}

.title
{
    font-size: 2em;
    color: #ffffff;
    margin-left: 250px;
    font-style: italic;
}

.surveyButton {
    color: #ffffff;
    padding: 10px;
    border-style: solid;
    border-color: white;
    border-radius: 5px;
    float: right;
    margin-right: 100px;
    margin-top: 100px;
    font-size: 24px;
    font-style: italic;
}

.infoParagraph {
    margin-left: 255px;
    margin-right: 50px;
    margin-bottom: 100px;
    color: white;
}

div {
    color: #ffffff; 
    line-height: 80%;
}

.divColumns {
    float: left;
    width: 25%;
    margin-top: 20px;
    margin-left: 250px;
    margin-bottom: 20px;
}

.imageBlock { 
   margin-left: 250px;
}

.quote { 
   width: 300px; 
   font-family: Gabriola;
   font-size: 2em;
   font-style: italic;
   color: white;
   margin-left: 80px;
   display: inline-block;
   vertical-align: top;
   line-height: 110%;
}

table {
    color: white;
}

.parkParagraph {
    margin-left: 250px;
    margin-top: 25px;
    margin-right: 25%;
    color: white;
}

.surveyChoices{
    margin-left:250px;
    font-size:18px;
    line-height: 180%;
    color:white;
}
.surveyParagraph{
    margin-left:250px;
    color:white;
    font-size:25px;
}
button{
    font-size: 17px;
    border-radius: 5px;
    padding: 5px;
    padding-right: 8px;
    margin-top: 20px;
    margin-bottom: 100px;
}

.weatherOneDay {
    display: inline-block;
    vertical-align: top;
    width: 15%;
    text-align: center;
    font-size: 17px;
    margin-right: 50px;
    margin-bottom: 50px;
    color: white;  
      
}
.weatherOneDay img {
    width: 110px;
}
.weather5day {
    margin-left: 250px;
    margin-top: 70px;
}

.weatherLink {
    color: white;
    font-size: 18px;
    font-style: italic;
    margin-left: 250px;
    padding-bottom: 100px;
}

h2{
    margin-left:250px;
    margin-top:100px;
    color: white;
    font-size:32px;
}

footer {
    color: brown;
    width: 100%;
    font-size: 12px;
    margin-left: 196px;
    margin-top: 150px;
    bottom: 0px;
    position: fixed;
    background-color: white;
    opacity: .8;
    padding: 5px;
}

.resultsTable {
    color: white;
    margin-left: 250px;
}

.resultsData {
    padding: 8px;
    padding-right: 25px;

}

.highTemp {
    font-size: x-large;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
}
