﻿@model Capstone.Web.Models.Park

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="title">@Model.ParkName Specifications</h2>

<div class="imageBlock">
    <img src="~/Content/img/parks/@Model.ImageFile" />
    <p class="quote">"@Model.Quote" <br />-@Model.QuoteSource</p>
</div>
<p class="parkParagraph">@Model.Description</p>


<div class="divColumns">
    <p>Home State: @Model.State</p>
    <p>Year Established: @Model.YearEstablished<p>
    <p>Number of Acres: @Model.Acres.ToString("#,###,###")</p>
    <p>Miles of Trail: @Model.MilesOfTrail.ToString("#,###,###")</p>
    <p>Elevation: @Model.Elevation.ToString("#,###,###")</p>
</div>
<div class="divColumns">
    <p>Number of Campsites: @Model.Campsites.ToString("#,###,###")</p>
    <p>Climate Type: @Model.Climate</p>
    <p>Visitor Count: @Model.VisitorCount.ToString("#,###,###")</p>
    <p>Entry Fee: @Model.EntryFee</p>
    <p>Number of Species: @Model.NumberOfSpecies.ToString("#,###,###")</p>
</div>
<div class="clearfix"></div>

<a href="@Url.Action("Detail", "Weather", new { id = Model.ParkCode })" class="weatherLink">Click here to get the weather forecast at @Model.ParkName!</a>

