﻿@model List<Capstone.Web.Models.DailyForecast>

@{
    ViewBag.Title = "Celcius";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Five Day Forecast</h2>


<section class="weather5day">

    @foreach (var df in Model)
    { <section class="weatherOneDay">
        <p>Day @df.DayNumber</p>
        <img src="@df.WeatherImgFile" />
        <p>@df.Forecast</p>
        <p class="highTemp">High: @df.CelciusHigh &deg; C</p>
        <p>Low: @df.CelciusLow &deg; C</p>
        <p>@df.ForecastAdvice</p>
        <p>@df.TempAdvice</p>
    </section>
    }
</section>

