﻿@model List<Capstone.Web.Models.DailyForecast>

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Five Day Forecast</h2>


@Html.ActionLink("Prefer to view in celcius?", "Celcius", "Weather", new { id = Model[0].ParkCode}, new {@class = "weatherLink"} )

<section class="weather5day">

    @foreach (var df in Model)
    { <section class="weatherOneDay">
        <p>Day @df.DayNumber</p>
        <img src="@df.WeatherImgFile" />
        <p>@df.Forecast</p>
        <p class="highTemp">High: @df.HighTemperature &deg; F</p>
        <p>Low: @df.LowTemperature &deg; F</p>
        <p>@df.ForecastAdvice</p>
        <p>@df.TempAdvice</p>
    </section>
    }
</section>