﻿@model Capstone.Web.Models.Park
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h3 class="title">Take the survey and be counted!</h3>

<p class="surveyParagraph">Which park is <em>your</em> favorite?</p>

@using (Html.BeginForm("Create", "Survey", FormMethod.Post))
{
    <div class="surveyChoices">
        @Html.RadioButton("ParkCode", "GNP") Glacier National Park <br />
        @Html.RadioButton("ParkCode", "GCNP") Grand Canyon National Park <br />
        @Html.RadioButton("ParkCode", "GTNP") Grand Teton National Park <br />
        @Html.RadioButton("ParkCode", "MRNP") Mount Rainier National Park <br />
        @Html.RadioButton("ParkCode", "GSMNP") Great Smoky Mountains National Park <br />
        @Html.RadioButton("ParkCode", "ENP") Everglades National Park <br />
        @Html.RadioButton("ParkCode", "YNP") Yellowstone National Park <br />
        @Html.RadioButton("ParkCode", "YNP2") Yosemite National Park <br />
        @Html.RadioButton("ParkCode", "CVNP") Cuyahoga Valley National Park <br />
        @Html.RadioButton("ParkCode", "RMNP") Rocky Mountain National Park <br />


        <button>VOTE!</button>
    </div>
}