﻿@model Capstone.Web.Models.SurveyResults
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thanks for your vote! Come back tomorrow to vote again!</h2>

<table class="resultsTable">
    @foreach (KeyValuePair<string, int> kvp in Model.Results)
    {
        <tr>
        @if (kvp.Key == "GNP")
        {
            <td class="resultsData">Glacier National Park</td>
        }
        else if (kvp.Key == "GCNP")
        {
            <td class="resultsData">Grand Canyon National Park</td>
        }
        else if (@kvp.Key == "GTNP")
        {
            <td class="resultsData">Grand Teton National Park</td>
        }
        else if (@kvp.Key == "MRNP")
        {
            <td class="resultsData">Mount Rainier National Park</td>
        }
        else if (@kvp.Key == "GSMNP")
        {
            <td class="resultsData">Great Smoky Mountains National Park</td>
        }
        else if (@kvp.Key == "ENP")
        {
            <td class="resultsData">Everglades National Park</td>
        }
        else if (@kvp.Key == "YNP")
        {
            <td class="resultsData">Yellowstone National Park</td>
        }
        else if (@kvp.Key == "YNP2")
        {
            <td class="resultsData">Yosemite National Park</td>
        }
        else if (@kvp.Key == "CVNP")
        {
            <td class="resultsData">Cuyahoga Valley National Park</td>
        }
        else
        {
            <td class="resultsData">Rocky Mountain National Park</td>
        }
        <td class="resultsData">Vote Count: @kvp.Value</td>
        </tr>
    }
    </table>
    
