﻿<!DOCTYPE html>
<html>

<head>
    <title>@Page.Title</title>
    <link href="~/Content/stylesheet.css" rel="stylesheet" />

</head>
<img src="~/Content/img/background_image.jpg" id="backgroundImage" />
<img src="~/Content/img/brown-background.png" class="transparent" id="backgroundImage" />
<body>
    <header>
        <a href="@Url.Action("Index", "Home")"><img src="~/Content/img/logo2.png" alt="National Park Geek" /></a>
        <a href="@Url.Action("Create", "Survey")" class="surveyButton">VOTE FOR YOUR FAVORITE NATIONAL PARK!</a>
    </header>
    <section id="main">
        @RenderBody()
    </section>
<footer>&copy; 2016          Site created with the genius coding skills and masterful styling of Lyndsey & Mary!</footer>

</body>
</html>
